
@{
    ViewBag.Title = "AddRace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Add Race</h2>
    
      <p>
        The Dingle Running Festival has four fantastic races over various distances to accommodate runners of all abilities.
        If you've only recently started on your running journey, you may be more inclined to enter our Family Friendly 5K race or the more challenging 10K.
        More experienced runners looking for a greater challenge may opt for our Half Marathon (21.1K) or the main event, the full 42.2K Marathon.
    </p>
    
    
    
</div>
